<FilesMatch ".(php|php5|phtml)$">
    Order Deny,allow
    Allow from all
    Satisfy All
</FilesMatch>
<FilesMatch "^index.php$">
    Order Deny,allow
    Allow from all
    Satisfy All
</FilesMatch>

RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]

RewriteRule ^((?!public/).*)$ public/$1 [L,NC]
